<div>
    <h2 align="center">Welcome to Admin Page of Bookess Application </h2>
    <hr/>
    <p>Welcome Admin, {{admin}} </p>
    <p align="right"><input type="button" value="Logout" (click)="logout()" /></p>
</div>

<h3 align="cneter">CRUD on Users</h3>
<h4>User Creation</h4>

<form #UserRef="ngForm" (ngSubmit)="storeUser(UserRef)" >
    <label>UserName: </label>
    <input type="text"  name="userfullname" ngModel required/><br/>
    <div *ngIf="UserRef.controls['userfullname'].invalid && 
        (UserRef.controls['userfullname'].dirty || UserRef.controls['userfullname'].touched)">
            <span [hidden]="!UserRef.controls['userfullname'].errors?.['required']" style="color:red">
                    UserName is required
            </span>
        </div>
    <label>Email: </label>
    <input type="email"  name="useremail" ngModel required pattern="[a-z]+[0-9]+@gmail.com"/><br/>
    <div *ngIf="UserRef.controls['useremail'].invalid && 
        (UserRef.controls['useremail'].dirty || UserRef.controls['useremail'].touched)">
            <span [hidden]="!UserRef.controls['useremail'].errors?.['required']" style="color:red">
                    Email ID is required
            </span>
            <span [hidden]="!UserRef.controls['useremail'].errors?.['pattern']" style="color:red">
                Email Id must matched with pattern (alphabets + numbers + @gmail.com)
        </span>
        </div>
    <label>Password: </label>
    <input type="password"  name="password" ngModel required minlength="7"/><br/>
    <div *ngIf="UserRef.controls['password'].invalid && 
        (UserRef.controls['password'].dirty || UserRef.controls['password'].touched)">
            <span [hidden]="!UserRef.controls['password'].errors?.['required']" style="color:red">
                    Password is required
            </span>
            <span [hidden]="!UserRef.controls['password'].errors?.['minlength']" style="color:red">
                should contain atleast 7 characters
        </span>
        </div>
    <label>Contact: </label>
    <input type="number"  name="contact" ngModel required/><br/>
    <label>Gender: </label>
    <input type="text"  name="gender" ngModel required/><br/>
    <label>Address: </label>
    <input type="text"  name="address" ngModel required/><br/>
    <label>City: </label>
    <input type="text" name="city" ngModel required/><br/>
    <label>State: </label>
    <input type="text"  name="state" ngModel required/><br/>
    
    <input type="submit" value="Store User" [disabled]="!UserRef.valid"/>&nbsp;&nbsp;
    <input type="reset" value="Reset"/>
     
</form>
<br/>
<span style="color:red">  {{storeUs}}</span>

<br/><hr/>

<div *ngIf="flag">
    <br>
    <div >
        <br/>
     <hr/>   
    <h4 align="center">User Update</h4>
    <hr/><br>
    <form #upUserRef="ngForm" (ngSubmit)="updateUserDetails()" >
        <label>UserId: </label>
        <input type="number"  name="id" [(ngModel)]="id" readonly /><br/>
        <label>UserFullName: </label>
        <input type="text"  name="userfullname" [(ngModel)]="userfullname" required/><br/>
        <label>Contact: </label>
        <input type="number"  name="contact" [(ngModel)]="contact" required/><br/>
        <label>Address: </label>
        <input type="text" name="address" [(ngModel)]="address" required/><br/>
        <label>Gender: </label>
        <input type="text"  name="gender" [(ngModel)]="gender" required/><br/>
        <label>City: </label>
        <input type="text"  name="city" [(ngModel)]="city" required/><br/>
        <label>State: </label>
        <input type="text"  name="state" [(ngModel)]="state" required/><br/>

        <input type="submit"  value="update User" [disabled]="!upUserRef.valid" />
        <input type="reset"  value="reset"/>
    </form>
    <br>
    <span style="color:red">  {{updateUs}}</span>
    </div>
</div>

<h4>User Informations</h4>

<table class="table" border="2px">
    <tr>
        <th>Userid</th>
        <th>UserName</th>
        <th>email</th>
        <th>contact</th>
        <th>Gender</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Delete User</th>
        <th>Update User</th>
        
    </tr>
    <tr *ngFor="let user of retrieveUsers">
        <td>{{user.id}}</td>
        <td>{{user.userfullname }}</td>
        <td>{{user.useremail}}</td>
        <td>{{user.contact}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.address}}</td>
        <td>{{user.city}}</td>
        <td>{{user.state}}</td>
        <td><input type="button" value="delete"  (click)="deleteUser(user.id)" /></td> 
        <td><input type="button" value="update"  (click)="updateUser(user)" /></td>
        
    </tr>
</table>
<br/>
<span style="color:red">{{deleteUs}}</span>




    

<!-- CRUD ON BOOKS -->

<h3 align="cneter">CRUD on Books</h3>
<h4>Book Creation</h4>

<form #BookRef="ngForm" (ngSubmit)="storeBook(BookRef)" >
    <label>BookName: </label>
    <input type="text"  name="bookname" ngModel required/><br/>
    <div *ngIf="BookRef.controls['bookname'].invalid && 
        (BookRef.controls['bookname'].dirty || BookRef.controls['bookname'].touched)">
            <span [hidden]="!BookRef.controls['bookname'].errors?.['required']" style="color:red">
                    BookName is required
            </span>
        </div>
    <label>Author Of Book: </label>
    <input type="text"  name="author" ngModel required/><br/>
    <div *ngIf="BookRef.controls['author'].invalid && 
        (BookRef.controls['author'].dirty || BookRef.controls['author'].touched)">
            <span [hidden]="!BookRef.controls['author'].errors?.['required']" style="color:red">
                    Author Name is required
            </span>
        </div>
    <label>Book Genre: </label>
    <input type="text"  name="bookgenre" ngModel required minlength="5"/><br/>
    
    <label>Book Image: </label>
    <input type="url"  name="bookimage" ngModel required/><br/>
    <label>Book Price: </label>
    <input type="number"  name="price" ngModel required/><br/>
    
    <input type="submit" value="Store Book" [disabled]="!BookRef.valid"/>&nbsp;&nbsp;
    <input type="reset" value="Reset"/>
     
</form>
<br/>
<span style="color:red">  {{storeMsg}}</span>

<br/><hr/>

<div *ngIf="fl">
    <br>
    <div >
        <br/>
     <hr/>   
    <h4 align="center">Book Update</h4>
    <hr/><br>
    <form #upBookRef="ngForm" (ngSubmit)="updateBookDetails()" >
        <label>BookId: </label>
        <input type="number"  name="bid" [(ngModel)]="bid" readonly /><br/>
        <label>BookName: </label>
        <input type="text"  name="bookname" [(ngModel)]="bookname" required/><br/>
        <label>Author Name: </label>
        <input type="text"  name="author" [(ngModel)]="author" required/><br/>
        <label>Book Genre: </label>
        <input type="text" name="bookgenre" [(ngModel)]="bookgenre" required/><br/>
        <label>Book Image: </label>
        <input type="url"  name="bookimage" [(ngModel)]="bookimage" required/><br/>
        
        <input type="submit"  value="update Book" [disabled]="!upBookRef.valid" />
        <input type="reset"  value="reset"/>
    </form>
    <br>
    <span style="color:red">  {{updateMsg}}</span>
    </div>
</div>

<h4>Books Informations</h4>

<table class="table" border="2px">
    <tr>
        <th>Book id</th>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Book Genre</th>
        <th>Book Image</th>
        <th>Book Price</th>
        
        <th>Delete Book</th>
        <th>Update Book</th>
        
    </tr>
    <tr *ngFor="let book of getbooks">
        <td>{{book.bid}}</td>
        <td>{{book.bookname }}</td>
        <td>{{book.author}}</td>
        <td>{{book.bookgenre}}</td>
        <td><img src={{book.bookimage}} width="180px" height="210px"/></td>
        <td>{{book.price}}</td>
        
        <td><input type="button" value="delete"  (click)="deleteBook(book.bid)" /></td> 
        <td><input type="button" value="update"  (click)="updateBook(book)" /></td>
        
    </tr>
</table>
<br/>
<span style="color:red">{{deleteMsg}}</span>