<hr/>
<h2 align="center"><p style="color: rgba(255, 0, 212, 0.836);">Welcome to Admin bookess application</p> </h2>

<div align="left">
        <h4>Admin SignIn</h4>
     
        <form [formGroup]="LoginRef" (ngSubmit)="adminLogin()">
            <div>
        <label >Email: </label><br>
        <input type="text" formControlName="email" /><br/>
        <div *ngIf="LoginRef.controls['email'].invalid && 
        (LoginRef.controls['email'].dirty || LoginRef.controls['email'].touched)">
            <span [hidden]="!LoginRef.controls['email'].errors?.['required']" style="color:rgb(51, 255, 0)">
                    Email ID is required
            </span>
            <span [hidden]="!LoginRef.controls['email'].errors?.['pattern']" style="color:rgb(179, 255, 0)">
               Email should be matched like this (alphabets + numbers + @gmail.com)
            </span>
        </div>
            </div>
            <div >
        <label >Password: </label><br>
        <input  type="password" formControlName="password" /><br/>
        <div *ngIf="LoginRef.controls['password'].invalid && 
        (LoginRef.controls['password'].dirty || LoginRef.controls['password'].touched)">
            <span [hidden]="!LoginRef.controls['password'].errors?.['required']" style="color:rgb(145, 255, 0)">
                    Password is required
            </span>
            <span [hidden]="!LoginRef.controls['password'].errors?.['minlength']" style="color:rgb(187, 255, 0)">
               minimum length 6 characters is needed
            </span>
        </div>
            </div>
            <div >
        <input type="submit"  value="Login" [disabled]="!LoginRef.valid"  /> &nbsp;
        <input type="reset"  value="Reset" />
            </div>
        </form>
    <br/>
   <span> {{Logres}}</span> 
 </div>


<div align="right">     
     
     <h4>Admin SignUp</h4>
     
     <form [formGroup]="RegRef" (ngSubmit)="adminRegister()">
        <div>
        <label>Email: </label><br>
        <input type="email" formControlName="email" /><br/>
        <div *ngIf="RegRef.controls['email'].invalid && 
        (RegRef.controls['email'].dirty || RegRef.controls['email'].touched)">
            <span [hidden]="!RegRef.controls['email'].errors?.['required']" style="color:rgb(166, 255, 0)">
                    Email ID is required
            </span>
            <span [hidden]="!RegRef.controls['email'].errors?.['pattern']" style="color:rgb(217, 255, 0)">
                Email must be matched with pattern (alphabets + numbers + @gmail.com)
            </span>
        </div>
        </div>
        <div >
        <label>Password: </label><br>
        <input  type="password" formControlName="password" /><br/>
        <div *ngIf="RegRef.controls['password'].invalid && 
        (RegRef.controls['password'].dirty || RegRef.controls['password'].touched)">
            <span [hidden]="!RegRef.controls['password'].errors?.['required']" style="color:rgb(166, 255, 0)">
                    Password is required
            </span>
            <span [hidden]="!RegRef.controls['password'].errors?.['minlength']" style="color:rgb(217, 255, 0)">
                Password must contains atleast 6 characters
            </span>
        </div>
        </div>
        <div >
        <label>UserName: </label><br>
        <input type="text" formControlName="username" /><br/>
        <div *ngIf="RegRef.controls['username'].invalid && 
        (RegRef.controls['username'].dirty || RegRef.controls['username'].touched)">
            <span [hidden]="!RegRef.controls['username'].errors?.['required']" style="color:rgb(166, 255, 0)">
                    UserName is required
            </span>
            <!-- <span [hidden]="!RegRef.controls['username'].errors?.['pattern']" style="color:rgb(217, 255, 0)">
                UserName must contains only alphabets
            </span> -->
            <span [hidden]="!RegRef.controls['username'].errors?.['minlength']" style="color:rgb(217, 255, 0)">
                should contains atleast 7 characters
            </span>
        </div>
        </div>
        <div >
        <input type="submit"  value="Register" [disabled]="!RegRef.valid"/> &nbsp;
        <input type="reset"  value="Reset" />
        </div>
        </form>

        <br/>
       <span > {{Regres}} </span>
</div>
        

